<header> 
  <a class="">Todo List</a>
  <div class="float-right white">
    <a>Todo Tasks: {{this.unfinished}}</a>
    <a>Finished Tasks: {{this.finished}}</a>
  </div>
</header>
<div class="todolist">
  <ul *ngFor="let task of api, let i = index">
    <li>
    <input type="checkbox" name="tocheck" (click)="check(i)" value="{{i}}" [(ngModel)]="task.finish" [checked]="task.finish">  
    <a [ngStyle]="{'text-decoration':task.finish == true ? 'line-through' : 'none' }" (click)="check(i)">
      {{task.task}}</a>  
    </li>
    <button type="button" class="close" aria-label="Close" (click)="delete(i)">
      <span aria-hidden="true">&times;</span>
    </button>
  </ul>  
</div>
<div style="text-align:center" *ngIf="!add">
  <button type="button" class="btn btn-dark" (click)="newTodo()">New Todo</button>
</div>
<div class="add-task" *ngIf="add">
    <form #validateForm="ngForm">
  <input type="text" placeholder="minimum 3 characters" autofocus required minlength="3" name="task" [(ngModel)]="newTask">
  <button class="btn btn-dark" (click)="addTodo()" [disabled]="!validateForm.valid">Add Task</button>
</form>
</div>
